In [189]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [190]:
data=pd.read_excel("total data.xlsx")

In [ ]:
head(data)

In [ ]:
len(data)

In [193]:
title_list=data['title_list']
broad_list=data['broad_list']
age_list=data['age_list']
ca_list=data['ca_list']
percent_list=data['percent_list']
max_list=data['max_list']
pd_max_list=data['pd_max_list']
title=list(title_list)
broad_list=list(broad_list)
age_list=list(age_list)
ca_list=list(ca_list)
percent_list=np.array(percent_list)
max_list=np.array(max_list)
pd_max_list=np.array(pd_max_list)
week_list=data['week_list']
week_list=list(week_list)
time_list=data['time_list']
time_list=list(time_list)

## 1. 방송사 전처리

In [215]:
a=[]
for i in broad_list:
    if "KBS2" in i:
        a.append(1)
    elif "KBS1" in i:
        a.append(1)
    elif "MBC" in i:
        a.append(2)
    elif "SBS" in i:
        a.append(3)
    elif "JTBC" in i:
        a.append(4)
    elif "tvN" in i:
        a.append(5)
    elif "Mnet" in i:
        a.append(6)
    else:
        a.append(7)

In [216]:
broad_list=a

In [217]:
len(broad_list)

520

In [ ]:
broad_list #가변수 처리 KBS(1), MBC(2), SBS(3), JTBC(4), tvN(5), Mnet(6), 기타(7)

 ## 2.연령대 전처리

In [219]:
result=[]
for i in age_list:
    ex=str(i)
    result.append(ex)

In [223]:
a=[]
for i in result:
    if "7" in i:
        a.append(1)
    elif "12" in i:
        a.append(1)
    elif "15" in i:
        a.append(2)
    elif "19" in i:
        a.append(3)
    elif "전체" in i:
        a.append(4)

In [224]:
age_list=a

In [ ]:
age_list #7(1) 12(2) 15(3) 19(4) 전체(5)

 ## 3.사회자 직업 전처리

In [227]:
# MC 179 가수 64 개그맨 76 방송연예인 22 영화배우 43 탤런트 66

#MC 179
가수 64
개그맨 76
교육인 1
국회의원 2
기업인 10
대학교수 1
리포터 1
마술사 2
모델 5
문화기관단체인 1
방송연예인 22
방송인 2
변호사 2
스포츠기관단체인 1
스포츠해설가 1
시나리오작가 1
아나운서 5
앵커 1
야구선수 1
없음 13
연예기획자 3
영화감독 3
영화배우 43
요리연구가 1
음악PD 1
이종격투기선수 1
작가 1
작곡가 2
전 농구선수 5
지휘자 2
탤런트 66
학원인 1

In [228]:
a=[]
for i in ca_list:
    if "MC" in i:
        a.append(1)
    elif "개그맨" in i:
        a.append(2)
    elif "탤런트" in i:
        a.append(3)
    elif "가수" in i:
        a.append(4)
    elif "영화배우" in i:
        a.append(5)
    elif "방송연예인" in i:
        a.append(6)
    else:
        a.append(7)

In [229]:
ca_list=a

 ## 4. 방송요일 전처리

In [230]:
a=[]
for i in week_list:
    if "월" in i:
        a.append(1)
    elif "화" in i:
        a.append(2)
    elif "수" in i:
        a.append(3)
    elif "목" in i:
        a.append(4)
    elif "금" in i:
        a.append(5)
    elif "토" in i:
        a.append(6)
    else:
        a.append(7)

In [231]:
week_list=a

10. time_list => 방송 시간 => 시간대로 가변수 생성
11. week_list+time_list => 가변수 생성(논문 참고)

 ## 5. 방송시간 전처리

In [234]:
exxx=[]
for i in time_list:
    x=i.minute+10
    y=i.hour
    if x > 59:
        hour=y+1
        exxx.append(hour)
    else:
        exxx.append(y)

In [ ]:
hour_list=exxx
len(hour_list)

In [243]:
total=pd.DataFrame(data={'title_list':title_list,'percent_list':percent_list,'max_list':max_list,'pd_max_list':pd_max_list,'hour_list':hour_list,'week_list':week_list,'ca_list':ca_list,'broad_list':broad_list,'age_list':age_list})  #데이터프레임 만들기
total.to_excel('데이터전처리.xlsx')