In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import statsmodels

from sklearn import datasets

In [2]:
train=pd.read_excel("E:/박혜린/디버그/ck프로젝트(18년도 2학기)/데이터/최종데이터/final_train.xlsx")
test=pd.read_excel("E:/박혜린/디버그/ck프로젝트(18년도 2학기)/데이터/최종데이터/final_test.xlsx")

### 랜덤포레스트 데이터 분류

In [3]:
X_train=train.iloc[:,1:-2]
y_train=train.iloc[:,-2]

In [4]:
X_train.head()

,broad_kbs,broad_mbc,broad_sbs,broad_jtbc,broad_tvn,broad_mnet,broad_etc,age_12,age_15,age_19,...,log_max,log_pro1,log_pro2,log_pd_award,log_pd_max,log_pd_pro1,log_pd_pro2,portal_naver,portal_daum,pd_portal
0,1,0,0,0,0,0,0,0,1,0,...,-2.01592,0.954243,0.000000,0.388585,-2.34199,0.000000,0.000000,1,0,0
1,1,0,0,0,0,0,0,0,1,0,...,-1.53820,1.113943,0.477121,0.388585,-1.90904,0.694614,0.440044,1,1,1
2,0,0,1,0,0,0,0,0,1,0,...,-1.97716,1.342423,1.301030,0.301030,-1.29243,0.000000,0.000000,1,1,1
3,0,0,1,0,0,0,0,1,0,0,...,-1.93330,1.431364,1.278754,0.388585,-1.29243,0.000000,0.000000,1,0,0
4,0,1,0,0,0,0,0,0,0,0,...,-1.54485,1.633468,1.342423,0.388585,-2.53165,0.694614,0.440044,0,0,0

In [5]:
y_train.head()

0    0.01553
1    0.02023
2    0.03152
3    0.02474
4    0.02309
Name: y, dtype: float64

In [6]:
X_test=test.iloc[:,2:-1]
y_test=test.iloc[:,-1]

In [7]:
X_test.head()

,broad_kbs,broad_mbc,broad_sbs,broad_jtbc,broad_tvn,broad_mnet,broad_etc,age_12,age_15,age_19,...,log_max,pro1,pro2,pd_award,log_pd_max,pd_pro1,pd_pro2,portal_naver,portal_daum,pd_portal
0,0,0,1,0,0,0,0,0,1,0,...,-1.173925,107,37,0,-2.202732,8,0,1,0,1
1,0,0,0,0,1,0,0,1,0,0,...,-0.709965,28,20,0,-1.481486,0,0,1,0,1
2,0,0,0,0,0,0,1,0,1,0,...,-1.113509,9,0,0,-1.292430,0,0,0,0,0
3,0,0,0,0,0,0,1,0,1,0,...,-1.287830,81,12,0,-2.042393,0,0,0,0,0
4,0,0,0,0,1,0,0,1,0,0,...,-1.287830,7,4,0,-1.292430,0,0,0,0,0

In [8]:
y_test.head()

0    0.01725
1    0.09300
2    0.00767
3    0.05086
4    0.00709
Name: y, dtype: float64

In [26]:
from sklearn.ensemble import RandomForestRegressor

rf = RandomForestRegressor(n_estimators=150, oob_score=True, random_state=0)
rf.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=150, n_jobs=1,
           oob_score=True, random_state=0, verbose=0, warm_start=False)

In [27]:
#원본데이터

In [28]:
from sklearn import metrics

y_predict = rf.predict(X_test)
score = metrics.r2_score(y_test, y_predict)
print('test score: ', score)
print(f'Out-of-bag score estimate: {rf.oob_score_:.3}')  #정확한지 수치로

test score:  -0.007653611626474266
Out-of-bag score estimate: 0.355

In [29]:
sst=sum((y_test-y_predict+y_predict-np.mean(y_test))**2)
ssr=sum((y_predict-np.mean(y_test))**2)
r_square=(ssr/sst)
r_square0

0.5016245803841143

In [30]:
print("Mean Absolute Error:", metrics.mean_absolute_error(y_test,y_predict))
print("Mean Squared Error:", metrics.mean_squared_error(y_test,y_predict))
print("Root Mean Squared Error:", np.sqrt(metrics.mean_squared_error(y_test,y_predict)))

Mean Absolute Error: 0.025861050469422914
Mean Squared Error: 0.0009673157752836393
Root Mean Squared Error: 0.03110170052076959

In [88]:
a=rf.feature_importances_

In [89]:
from pandas import Series, DataFrame
import pandas as pd

In [90]:
total=pd.DataFrame(data={'a':a})
total.to_excel('E:/박혜린/디버그/ck프로젝트(18년도 2학기)/데이터/최종데이터/a.xlsx')